.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: start;
    gap: 1rem;

    /* centre grid container */
    width: 90%;
    margin: 0 auto;
}
@media (max-width : 1050px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width : 857px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width : 635px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.grid-container .product-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    border: 0.5px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-container .product-img {
    display: block;
    width: 65%;
    height: auto;
    margin: 1rem auto 0;
}
.product-body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.product-body i {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-body i .heart {
    color: #B51B75;
}
.product-stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-weight: bold;
}
.product-name {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
.product-buy {
    display: flex;
    flex-direction: column;
}
.product-buy p {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.product-buy small {
    color: gray;
    font-weight: 700;
}
.product-buy span {
    text-decoration-line: line-through;
}
.product-buy .rating {
    background-color: green;
    color: white;
    width: 3rem;
    padding: 0.2rem;
    text-align: center;
    border-radius: 0.4rem;
}
.product-body .product-btn{
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.product-body .product-btn .btn {
    padding: 0.2rem;
    width: 50%;
    background: #B51B75;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}
.product-btn a {
    color: white;
}
.view-btn {
    background-color: #FF76CE !important;
}