.flex-container {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 0.4rem;
}
.flex-container h1 {
    font-size: 1.5rem;
}
.category-container a {
    color: blue;
}
.category-container a menu {
    text-transform: capitalize;
}